{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Resumen Semanal</h2>
        <a href="{% url 'export_csv' %}" class="btn btn-primary">Exportar a CSV</a>
    </div>

    <!-- Mostrar las horas totales trabajadas -->
    <div class="alert alert-info">
        <strong>Horas totales trabajadas:</strong> {{ total_hours }} hrs
    </div>

    <table class="table table-dark table-bordered text-center">
        <thead class="table-secondary text-dark">
            <tr>
                <th>Nombre</th>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miércoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
                <th>Sábado</th>
                <th>Domingo</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for record in time_records %}
            <tr>
<td>
    <a href="{% url 'employee_detail' record.employee.id %}">{{ record.employee.name }}</a>
</td>                <td>
                    {% if record.day_of_week == 'Monday' %}
                        {{ record.time_in|time:"H:i" }} - {{ record.time_out|time:"H:i" }} ({{ record.lunch_time|time:"H:i" }})
                    {% endif %}
                </td>
                <td>
                    {% if record.day_of_week == 'Tuesday' %}
                        {{ record.time_in|time:"H:i" }} - {{ record.time_out|time:"H:i" }} ({{ record.lunch_time|time:"H:i" }})
                    {% endif %}
                </td>
                <td>
                    {% if record.day_of_week == 'Wednesday' %}
                        {{ record.time_in|time:"H:i" }} - {{ record.time_out|time:"H:i" }} ({{ record.lunch_time|time:"H:i" }})
                    {% endif %}
                </td>
                <td>
                    {% if record.day_of_week == 'Thursday' %}
                        {{ record.time_in|time:"H:i" }} - {{ record.time_out|time:"H:i" }} ({{ record.lunch_time|time:"H:i" }})
                    {% endif %}
                </td>
                <td>
                    {% if record.day_of_week == 'Friday' %}
                        {{ record.time_in|time:"H:i" }} - {{ record.time_out|time:"H:i" }} ({{ record.lunch_time|time:"H:i" }})
                    {% endif %}
                </td>
                <td>
                    {% if record.day_of_week == 'Saturday' %}
                        {{ record.time_in|time:"H:i" }} - {{ record.time_out|time:"H:i" }} ({{ record.lunch_time|time:"H:i" }})
                    {% endif %}
                </td>
                <td>
                    {% if record.day_of_week == 'Sunday' %}
                        {{ record.time_in|time:"H:i" }} - {{ record.time_out|time:"H:i" }} ({{ record.lunch_time|time:"H:i" }})
                    {% endif %}
                </td>
                <td>
                    {% if record.total_hours %}
                        {{ record.total_hours }} hrs
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
